<!DOCTYPE html>

<html>
   <head>
      <title>URL Shortener</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container" style="margin-top: 50px;">
        <h1 class="errorSmile">
          :(
        </h1>
        <div class="errorInfo">
          <%= error %>
        </div>
        <div class="errorInfo">
          You can go back and try again. <a href="https://zealous-sugar.glitch.me/">Here.</a>
        </div>
      </div>
   </body>
</html>